{{#each this.stars as |star|}}
  <button
    type="button"
    class="rating-star text-orange-300"
    data-test-rr={{concat "star-rating-" star.rating}}
    {{on "click" (fn this.setRating star.rating)}}
  >
    {{#if star.isFull}}
      {{fa-icon "star"}}
    {{else}}
      {{fa-icon "star-o"}}
    {{/if}}
  </button>
{{/each}}