<div class="w-full max-w-xs mx-auto">
  <h3 data-test-rr="form-header" class="text-center p-4">Log in to R&R</h3>
  <form {{on "submit" this.signIn}} class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    {{#each this.baseErrors as |error|}}
      <div class="rr-error-message mb2" datat-test-rr="error-message">{{error}}</div>
    {{/each}}

    <div class="mb-4">
      {{#if this.showErrors.email}}
        <div class="rr-form-field-error" data-test-rr="email-error">
          {{v-get this "email" "message"}}
        </div>
      {{/if}}

      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <Input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:text-black"
        id="email"
        placeholder="Email"
        @type="email"
        @value={{this.email}}
        {{on "blur" (fn this.setShowErrors "email")}}
        {{on "input" this.resetBaseErrors}}
      />
    </div>


    <div class="mb-6">
      {{#if this.showErrors.password}}
        <div class="rr-form-field-error" data-test-rr="password-error">{{v-get this "password" "message"}}</div>
      {{/if}}

      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <Input
        class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline focus:text-black"
        id="password"
        placeholder="******************"
        @type="password"
        @value={{this.password}}
        {{on "blur" (fn this.setShowErrors "password")}}
        {{on "input" this.resetBaseErrors}}
      />
      <p class="text-red-500 text-xs italic">Please choose a password.</p>
    </div>


    <div class="flex items-center justify-between">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
        data-test-rr="login-button"
        disabled={{v-get this.model "isInvalid"}}>
        Sign In
      </button>
      <LinkTo @route="sign-up" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
        Sign Up
      </LinkTo>
    </div>
  </form>
  <p class="text-center text-gray-500 text-xs">
    &copy;2020 R&R Corp. All rights reserved.
  </p>
</div>